/* Body */
body {
  font-family: 'Muli', Arial, sans-serif;
  padding-top: 54px;
  color: #6b737b;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

/* Nav Bar */
.navbar.transparent.navbar-inverse .navbar-inner {
   background: rgba(0,0,0,0.4);
}

/* Images */
.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

img {
    image-orientation: from-image;
}

/* Headings */
h1, h2, h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: #343a40;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
  text-transform: uppercase;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
  font-weight: 300;
  font-family: 'Quicksand', sans-serif;
  color: #6b737b;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

/* Highlight Color */
.text-primary {
  color: #FE9238 !important;
}

/* Social Media Icons */
.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  background-color: #FE9238;
}

.fas {
  padding-right: 10px;
}

/* Footer */
.contact p {
  display: inline-block;
  padding-right: 50px;
}
